@page
@model Website.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].PrepTimeMins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CookTimeMins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].LastUpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrepTimeMins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookTimeMins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdateTime)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
                     User, item,
                     RecipeOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.RecipeId">Edit</a>
                        <text> | </text>
                    }

                    <a asp-page="./Details" asp-route-id="@item.RecipeId">Details</a>

                    @if ((await AuthorizationService.AuthorizeAsync(
                            User, item, RecipeOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" asp-route-id="@item.RecipeId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
